body {
    margin: 0;
    padding: 0;
    }


#map {
position: absolute;
top: 0;
bottom: 0;
width: 100%;
}


.mapboxgl-popup-close-button {
display: none;
}

.mapboxgl-popup-content {
font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', sans-serif;
padding: 0;
width: 180px;
}

.mapboxgl-popup-content h2 {
font-size: 12pt;
background: #007bff;
color: #fff;
margin: 0;
padding: 10px;
border-radius: 3px 3px 0 0;
font-weight: 700;
margin-top: -15px;
}

.mapboxgl-popup-content button {
margin: 0;
padding: 10px;
font-weight: 400;
}

#next_station_div {
    background-color: #fff;
    position: absolute;
    top: 55px;
    height: 90%;
    width: 21%;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    
}

#params {
    display: none;
}

#section_line {
    height: 2px;
    position: relative;
    top: 200px;
}


#params_div {
    width: 90%;
    height: 15%;

}

#next_stations_title {
    position: absolute;
    top: 38%;
    margin-left: 48px;
    font-size: 10pt;

}

.my-custom-scrollbar {
    position: relative;
    height: 200px;
    overflow: auto;
    scrollbar-width: thin;  
    scrollbar-color: #9b9b9b rgb(212, 224, 224);

    }
.table-wrapper-scroll-y {
display: block;
position: absolute;
bottom: 0px;
}

#departure_table thead {
    position: sticky;
    top: 0; 
    z-index: 1;
    background-color: #fff;
}

#departure_table tbody{
    background-color: #fff;
}

#tablediv {
width: 600px;
position: absolute;
bottom: 0px;
background-color: #fff;
right: 0px;
margin-right: 5px;
margin-bottom: 5px;
}

#station_listgroup {
    position: absolute;
    top: 270px;
    margin-left: 24px;
    width: 270px;
    max-height: 250px;
    margin-bottom: 10px;
    overflow-y:scroll;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: thin;  
    scrollbar-color: #9b9b9b rgb(212, 224, 224);
}

li {
    cursor: pointer;
}



/* Popup container */
.nav-item-popup {
position: relative;
display: inline-block;
cursor: pointer;
}

/* The actual popup (appears on bottom) */
.nav-item-popup .popuptext {
visibility: hidden;
width: 600px;
background-color: #007bff;
color: #fff;
text-align: start;
border-radius: 6px;
padding: 8px ;
position: absolute;
z-index: 1;
top: 125%;
left: 50%;
margin-left: -80px;
}

.nav-item-popup .popuptext::after {
content: " ";
position: absolute;
bottom: 100%;  /* At the top of the tooltip */
left: 13.5%;
margin-left: -10px;
border-width: 10px;
border-style: solid;
border-color: transparent transparent black transparent;
}


#row_departure_table {
    cursor: pointer;
}

